# =====================
# IDEs
# =====================
.idea/
.vscode/

# =====================
# Java / Maven
# =====================
target/
*.class
*.jar
*.war

# =====================
# Spring
# =====================
*.log

# =====================
# React
# =====================
node_modules/
dist/
build/

# =====================
# Environment
# =====================
.env
.env.*

# =====================
# Docker
# =====================
docker-data/

# =====================
# OS
# =====================
Thumbs.db
.DS_Store

# =====================
# Database Backups
# =====================
database/backups/*.backup
database/backups/*.sql

# =====================
# Temporary
# =====================
*.tmp
*.swp